@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "pexico";
  src: url("/fonts/pexico.otf") format("opentype");
  /* Add more src formats if necessary */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-reg";
  src: url("/fonts/proxima-reg.otf") format("opentype");
  /* Add more src formats if necessary */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-bold";
  src: url("/fonts/proxima-bold.otf") format("opentype");
  /* Add more src formats if necessary */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-semi";
  src: url("/fonts/proxima-semi.ttf") format("truetype");
  /* Add more src formats if necessary */
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth 
} 

body {
  color: #000;
  background: #01e08f;
}

.mobile-toggled-menu {
  display:none;
}

nav {
  left: 50%;
  transform: translate(-50%);
  background-color: #01e08f;
}

#hero {
  padding-top:10%;
}

#hero h1 {
  font-size: 100px;
  color: #fff;
  font-weight: bold;
  line-height: 100px;
}

.main-menu {
  font-size: 19px;
  color: #00386f;
  gap: 50px;
}

.intro-pos h2 {
  color: #fff;
  font-size: 48px;
}

.intro-pos h3 {
  font-size: 25px;
  color: #fff;
}

.show-mobile {
  display:none;
}

.show-m-flex {
  display:none;
}

.skew-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: skewY(3deg); /* Adjust the skew angle as needed */
  transform-origin: top left;
  z-index: -1;
}

.skew-bottom::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: skewY(-3deg); /* Adjust the skew angle as needed */
  transform-origin: bottom left;
  z-index: -1;
}

.cta-prop {
  width: 167px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** ProjectSlider ***/
.project-slider {
  display: flex;
  overflow: hidden;
  width: 100%; /* Ensure the slider takes up the full width */
}

.project-container {
  min-width: 100%;
  flex-shrink: 0;
  display: flex; /* Display projects horizontally */
  align-items: center; /* Center projects vertically */
  justify-content: center; /* Center projects horizontally */
  transition: transform 0.3s ease;
  /* You may need to adjust these styles based on your design */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

/*** End ProjectSlider ***/

/** Deck Slider **/

.deck {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 40px;
  margin-top: 100px;
  text-align: center;
  justify-content: flex-start;
}

.shuffle-wrap {
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100%;
  text-align: left;
  color: #00386f;
}

.limp-c {
  z-index: 9;
}

.text-import {
  font-size: 16px !important;
}

.gray-img-bg {
  background: url("/gray.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.description-card {
  display: flex;
  justify-content: flex-end;
}

.description-card h3 {
  font-size: 45px;
}

.description-body {
  max-width: 500px;
}

.description-body p {
  color: #fff;
  font-size: 18px;
}

.limp {
  z-index: -1;
}

.previous {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.next {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 50px;
  height: 50px;
}

.navbtn {
  z-index: 99999;
}

.custom-card {
  position: absolute;
  text-align: center;
  width: 724px;
  height: 472px;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  border-radius: 5px;
}

.custom-card.selected {
  transform: translateY(-20px) scale(1.1);
  z-index: 999;
}

.custom-card img {
  display: block;
  margin: 0 auto;
  box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  border-radius: 10px;
}

.custom-card h3 {
  margin: 5px;
  font-size: 18px;
}

.custom-card p {
  margin: 5px;
  font-size: 14px;
}

.custom-card a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #0070f3;
  font-weight: bold;
}

/** End deck slider **/

@media (max-width: 1440px) {
  .deck-container {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .deck {
    justify-content: center;
    width: 70%;
  }

  .description-card {
    justify-content: center;
    margin-top: 120px;
    padding: 40px 0 0 60px;
    padding-bottom: 100px;
  }

  .description-body p {
    padding-top: 15px;
    font-size: 16px;
  }

  .rotator {
    padding-top: 40px;
  }

  .cta-prop p {
    padding-top: 0px !important;
  }

  .description-card h3 {
    font-size: 30px;
  }
}

@media (max-width: 1360px) {
  .deck {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  #hero h1 {
    font-size: 70px;
    line-height: 80px;
  }

  #hero img {
    top: 60px;
  }

  #hero {
    padding-top: 10%;
  }
}

@media (max-width: 1230px) {
  .deck-container {
    flex-direction: column;
  }

  .description-body {
    max-width: 100%;
  }

  .description-slider {
    padding-top: 400px;
    width: 100%;
  }

  .description-card {
    justify-content: start;
  }
}

@media (max-width: 1024px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 860px) {
  #hero {
    padding-top:20%;
  }

  .custom-card {
    width: 100%;
    height: 472px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .deck-container {
    overflow-x: hidden;
  }
}

@media (max-width: 767px) {

  .mobile-toggled-menu {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .resume {
    margin-top:20px;
  }

  .main-menu {
    gap:20px;
  }

  .hide-mobile {
    display:none !important;
  }

  .show-mobile {
    display:block;
  }

  .show-m-flex {
    display:flex !important;
  }

  .section-reset {
    min-height: 400px;
  }

  .section-reset .intro-pos {
    margin-top: 0px !important;
  }

  .section-reset .inner-child {
    max-width: 90%;
  }

  .reverse-col {
    flex-direction: column-reverse;
  }

  .column-mobile {
    flex-direction: column;
  }

  .max-m {
    width: 100%;
  }

  .custom-card {
    width: 80%;
  }

  .hero-max-mobile {
    width: 100%;
    margin-top: 30px;
    padding: 60px 40px;
  }

  .deck {
    padding-top: 0px;
    margin-top: 0px;
  }

  .description-card {
    padding: 40px 40px 80px 40px;
  }
}

@media (max-width: 600px) {

  .hero-max-mobile {
    width: 90%;
    margin: 30px auto;
    padding: 60px 0px;
  }

  #hero h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .intro-pos h2 {
    color: #fff;
    font-size: 30px;
  }

  .intro-pos {
    margin-top: 5px;
  }

  .intro-pos h3 {
    font-size: 20px;
    color: #fff;
  }
}

@media (max-width: 480px) {
  #hero h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
  }
}
